.ipynb_checkpoints/
extracted_sources_bboxes_points.json
yolov8n.pt
*.pyc
*.pth
*.pt
/xmm_om_images*
/weight/*
/weights/*  
/plots/*
*.png
*.jpg
*.pdf
/wandb/*
*.log
*.txt
ft_MobileSAM_multiple_images.ipynb
view_sam
multiple_models_inference.ipynb
ft_MobileSAM_dataset_old.py
ft_EVA.ipynb
ft_Detectron2_Instance.ipynb
ft_MobileSAM_dataset.ipynb
roboflow_classif.ipynb
ft_MobileSAM_and_classif.py
ft_MobileSAM_dataset.ipynb
check_sam_fine-tuning_on_usual_images.ipynb
ft_MobileSAM_and_classif.ipynb
ft_MobileSAM_and_classif_0_gradients.ipynb
*.csv
.lsp_symlink
output
./old_fine-tuning_files/*
yolov8n-seg.pt
yolov8x-seg.pt
yolov8-segm-fine-tuning*
/runs/*
*cache*
imgs_512_50.tar.gz
obs_info_1024_1000
.gitignore
datasets/coco8-seg/LICENSE
datasets/coco8-seg/README.md
*data.yaml
*args.yaml
*events*
*config*
*.onnx*
*checkpoint*
*.zip*
tutorial_exps/mask-rcnn_r50-caffe_fpn_ms-poly-3x_coco.py
work_dir/mask-rcnn_swin-t-p4-w7_fpn_amp-ms-crop-3x_coco.py
*annotations.coco.json*
*scalars.json*
