.ipynb_checkpoints/
extracted_sources_bboxes_points.json
yolov8n.pt
*.pyc
/train/output_sam/*.pth
/output_sam/*.pth
# *.pt
/xmm_om_images*
/plots/*
train/yolov8-segm-*
*.pdf
/wandb/*
*.log
*.txt
ft_MobileSAM_multiple_images.ipynb
view_sam
multiple_models_inference.ipynb
ft_MobileSAM_dataset_old.py
ft_EVA.ipynb
ft_MobileSAM_dataset.ipynb
roboflow_classif.ipynb
ft_MobileSAM_and_classif.py
ft_MobileSAM_dataset.ipynb
check_sam_fine-tuning_on_usual_images.ipynb
ft_MobileSAM_and_classif.ipynb
ft_MobileSAM_and_classif_0_gradients.ipynb
*.csv
.lsp_symlink
output
old_fine-tuning_files/*
yolov8n-seg.pt
yolov8x-seg.pt
yolov8-segm-fine-tuning*
runs/*
*cache*
imgs_512_50.tar.gz
obs_info_1024_1000
.gitignore
datasets/coco8-seg/LICENSE
datasets/coco8-seg/README.md
*data.yaml
*args.yaml
*events*
*config.py*
*.onnx*
*wandb*
*.zip*
tutorial_exps/mask-rcnn_r50-caffe_fpn_ms-poly-3x_coco.py
work_dir/mask-rcnn_swin-t-p4-w7_fpn_amp-ms-crop-3x_coco.py
*annotations.coco.json*
*scalars.json*
mmdet_work_dir/*
output_detectron2/coco_instances_results.json
output_detectron2/last_checkpoint
output_detectron2/metrics.json
tutorial_exps/last_checkpoint
tutorial_exps/20240308_232030/vis_data/20240308_232030.json
tutorial_exps/20240309_085239/vis_data/20240309_085239.json
work_dir/*
useful_SCRIPTS/*
mmdet_checkpoints/mask-rcnn_r50-caffe_fpn_ms-poly-3x_coco.py
mmdet_checkpoints/mask-rcnn_swin-s-p4-w7_fpn_amp-ms-crop-3x_coco.py
mmdet_work_dir/last_checkpoint
mmdet_work_dir/mask-rcnn_swin-s-p4-w7_fpn_amp-ms-crop-3x_coco.py
.vscode/launch.json
.vscode/settings.json
mmdet_intern_image.ipynb
obs_info_1024_all
detr2_config.yaml
fine-tune-EVA/ft_EVA_commands.ipynb
mmdet_checkpoints/mask-rcnn_swin-s-p4-w7_fpn_amp-ms-crop-3x_coco.py
model_checkpoints/intern-image.py
mmdet_checkpoints/mask-rcnn_swin-s-p4-w7_fpn_amp-ms-crop-3x_coco.py
_05_ft_MobileSAM_classif.py
train/train_sam.ipynb
yolo_sam_inference-Copy1.ipynb
train/train_sam-no_scheduler.py
train/yolov8_sam.py
yolo_sam_inference.py
train/yolo_sam_epoch_0.pth
train/eva_clip_psz14.pt
spring.jpg
