.ipynb_checkpoints/
extracted_sources_bboxes_points.json
yolov8n.pt
*.pyc
*.pth
*.pth
*.json
/xmm_om_images*
/weight/*
/weights/*  
/plots/*
*.png
*.jpg
*.pdf
/wandb/*
*.log
*.txt
ft_MobileSAM_multiple_images.ipynb
view_sam
astronomy_utils.py
multiple_models_inference.ipynb
ft_MobileSAM_dataset_old.py
ft_EVA.ipynb
ft_Detectron2_Instance.ipynb
ft_MobileSAM_dataset.ipynb
roboflow_classif.ipynb
ft_MobileSAM_and_classif.py
ft_MobileSAM_dataset.ipynb
check_sam_fine-tuning_on_usual_images.ipynb
ft_MobileSAM_and_classif.ipynb
ft_MobileSAM_and_classif_0_gradients.ipynb
*.csv
.lsp_symlink
output
./old_fine-tuning_files/*
